<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Something New Today</h1>
    <br />
    <h2>A Home for Experts</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Enroll and access hundreds of courses with profession teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn at Your Own Pace</h3>
    <br />
    <p>Enroll and access our courses at the speed you learn as fast or slow as your life dictates.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <br />
    <p>Learn from people who don't always move their lips when reading</p>
  </div>
</div> 